setuptools>=65.0.0
wheel

Django==4.1.13
djongo==1.3.6
djangorestframework==3.14.0
python-decouple==3.8
python-dotenv==1.0.0
google-generativeai
setuptools
wheel
Django
djongo
djangorestframework
python-decouple
python-dotenv
dnspython
pymongo
requests
whitenoise
Pillow
numpy
pandas
scikit-learn
scipy
plotly
django-cors-headers
django-crispy-forms
django-filter
django-taggit
django-reversion
django-bootstrap4
django-autocomplete-light
django-session-timeout
python-bidi
pytz
PyYAML
qrcode
reportlab
PyPDF2
pytesseract
easy-thumbnails
soupsieve
beautifulsoup4
Werkzeug
gunicorn